* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

h1 {
	font-size: 3rem;
}

h2 {
	color: #f64348;
	font-size: 2rem;
}
